body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2.2em;
}

.table {
    margin-top: 15px;
}

.table > thead > tr > th {
    background: #e9e9e9;
    border-bottom: .1em solid #ccc !important;
}

.table > tbody > tr:hover {
    background-color: #f9f9f9;
}

.table > tbody > tr > td {
    border-bottom: .1em solid #e9e9e9;
}
.td-actions{ text-align:center; width:100px;}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.alert {
    margin-top: 10px;
}

.navbar-static {
    background-color: #3686be;
    color: #fff;
    margin-bottom: 14px;
    border-radius: 0;
}

.navbar-static .navbar-brand {
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.navbar-static .navbar-toggle {
    border: 1px solid #fff;
    padding: 4px 10px;
}

.navbar-static .navbar-toggle .glyphicon {
    font-size: 1.2em;
    top: 3px;
}

.navbar-static .navbar-toggle:focus, 
.navbar-static .navbar-toggle:hover {
    background-color: #3078ab;
}

.navbar-static .navbar-nav > li > a {
    color: #fff;
    font-size: .9em;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.navbar-static .navbar-nav > .active > a, 
.navbar-static .navbar-nav > .active > a:focus, 
.navbar-static .navbar-nav > .active > a:hover, 
.navbar-static .navbar-nav > .open > a, 
.navbar-static .navbar-nav > .open > a:focus, 
.navbar-static .navbar-nav > .open > a:hover {
    background-color: #3078ab;
}

.navbar-static .navbar-nav > li > a:focus, 
.navbar-static .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #3686be;
    text-decoration: underline;
}

.dropdown .glyphicon-menu-down {
    font-size: 1.3em;
    font-weight: 200;
    top: 3px;
    left: 1px;
}

.dropdown .setting-dropdown .glyphicon-cog {
    font-size: 1.8em;
    font-weight: 100;
    top: 6px;
    margin-right: 4px;
}

.navbar-nav > li > .dropdown-menu {
    border: .05em solid #656565;
    border-radius: .4em;
}

.dropdown-menu > li > a {
    color: #fff;
    font-size: .9em;
    padding: 5px 20px;
    text-transform: uppercase;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
}


.panel .panel-heading {
    background-color: transparent;
    text-transform: none;
    border-bottom: 1px solid #e9e9e9;
}

.form-control {
    color: #333;
    border: 1px solid #757575;
}

.form-control:focus {
    border: 1px solid #555;
}

button.btn {
    color: #333;
    border: 1px solid #e9e9e9;
}

button.btn:hover {
    color: #fff;
    background-color: #3686be;
}


button.btn-primary {
    color: #fff;
}

.select2-selection.select2-selection--multiple {
    border: 1px solid #757575;
}

.select2-selection.select2-selection--multiple:focus {
    border: 1px solid #555;
}

.page-action .search-form {
    display: inline;
    padding: 0;
    margin: 0;
}

.page-action .search-form .form-control {
    height: 38px;
    border-right: 0 none;
    border-radius: 0;
    border-color: #ccc;
}

.page-action .search-form .form-control:focus {
    border-right: 0 none;
    border-color: #757575;
}

.page-action .search-form .form-control:focus ~ .input-group-btn .btn {
    border-color: #757575;
}

.page-action .search-form .btn {
    background-color: transparent;
    border: 1px solid #ccc;
    border-left: 0 none;
    border-radius: 0;
    padding: 5px 8px 5px 2px;
}

.page-action .search-form .glyphicon-search {
    color: #888;
    font-size: 1.5em;
    top: 2px;
}

.page-action .action-btn {
    width: 100%;
    color: #fff;
    background-color: #437b3c;
    border: 1px solid #437b3c;
    padding: 8px 14px;
    margin-top: 10px;
}

.page-action .action-btn .glyphicon-plus {
    font-size: 0.8em;
    font-weight: 100;
    right: 3px;
}

.table .action-btn {
    margin-top: 3px;
}

.table .action-btn:hover {
    border: 1px solid #757575;
}

.paging-container {
    text-align: center;
}

.paging-container .pagination {
    margin: 0;
}

.paging-container .pagination a {
    color: #333;
    background-color: #f4f4f4;
    border: 1px solid #e9e9e9;
    margin-top: 3px;
    margin-right: 3px;
}

.paging-container .pagination a:hover,
.paging-container .pagination a:focus {
    color: #333;
    background-color: #f4f4f4;
    text-decoration: underline;
    border: 1px solid #ccc;
}
.paging-container .pagination .disabled a,
.paging-container .pagination .disabled a:hover {
    background-color: #fff;
    text-decoration: none;
}

.paging-container .pagination .active a,
.paging-container .pagination .active a:hover {
    color: #fff;
    background-color: #3078ab;
}


.settings-panel .settings-group {
    padding: 15px 0 15px 0;
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
}

.settings-panel .settings-group h3 {
    margin-top: 0;
    margin-left: 0;
}

.settings-panel .field-container {
    margin-top: 15px;
}

.settings-panel .field-container .action {
    margin-left: 5px;
}

.settings-panel .field-container .action .btn {
    padding: 3px 6px;
}

.settings-panel .input-group .form-control {
    margin-bottom: 8px;
    border-radius: 4px !important;
}

.user-panel .input-group .form-control {
    font-weight: 100;
    margin-bottom: 8px;
    border-radius: 4px !important;
}

#phase-list {
    margin-top: 20px;
}

#phase-list li {
    background-color: #fafafa;
    border-radius: 0;
    border: 0 none;
    border-bottom: .1em solid #ccc;
    margin-bottom: 15px;
}

#phase-list .sortable-ghost {
    opacity: 0.4;
    background-color: #ccc;
}

#new-phase-modal .content {
    margin-bottom: 10px;
}

#new-phase-modal .content .action {
    line-height: 25px;
}

@media (min-width: 768px) {
    .navbar-static .navbar-brand {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    .navbar-static .main-navbar-nav {
        margin-left: 30px;
    }
    
    .navbar-static .navbar-nav > li > a {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    .dropdown .setting-dropdown {
        padding: 15px 8px 15px 8px !important;
    }
    
    .dropdown .setting-dropdown .glyphicon-cog {
        top: 4px;
        margin-right: 0;
    }
    
    .dropdown-menu > li > a {
        color: #454545;
    }
    
    .dropdown-menu > li > a:hover, 
    .dropdown-menu > li > a:focus {
        color: #454545;
    }
    
    
    .page-action {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 15px;
    }
    
    .page-action .search-form .input-group {
        width: 260px;
    }

    .page-action .action-btn {
        width: auto;
        margin-top: 0;
    }

    .paging-container .pagination a {
        margin-top: 0;
        margin-right: 3px;
    }
    
    .user-panel .input-group .form-control {
        width: 260px;
    }

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}

